[Unit]
Description=SSH key agent
# Enable this via 'systemctl enable --user --now ssh-agent.socket"
# Add 'export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"' to shell cfg (e.g. .bashrc)

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target