[user]
  # NOTE: Replace all $... with your data (does not actually resolve shell var)
  name = "$USER"
  email = "noreply.$USER@example.de"
  signingkey = "~/.ssh/signing-key.pub"
  # ssh-keygen -t ed25519 -C "noreply.$USER@example.de" -N "" -f "~/.ssh/signing-key.pub"
  # ssh-add "~/.ssh/signing-key.pub"
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
[color]
  ui = auto
[init]
  defaultBranch = main
[core]
  fileMode = false
  editor = vim
[pull]
  rebase = true
[gpg]
  format = ssh
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[safe]
  directory = "$HOME/Develop"
[maintenance]
  repo =
[url "ssh://git@github.com"]
  insteadOf = https://github.com/
