# NOTE: $_ variables will not be replaced with shell variables automatically
[user]
  name = "$USER"
  email = "noreply.$USER@example.de"
  signingkey = "~/.ssh/signing-key.pub" # ssh
  #signingkey = "1234567890ABCDEF" # gpg --list-secret-keys --keyid-format LONG # CRYPTO-TYP/KEY_ID
  # ssh-keygen -t ed25519 -C "noreply.$USER@example.de" -N "" -f "~/.ssh/signing-key.pub"
  # ssh-add "~/.ssh/signing-key.pub"
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
[color]
  ui = auto
[init]
  defaultBranch = main
[core]
  fileMode = false
  editor = vim
[pull]
  rebase = true
[gpg]
  format = ssh # only ssh
  #program = gpg2 # only gpg
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[safe]
  directory = "$HOME/Develop"
[maintenance]
  repo =
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[http]
  #postBuffer = 524288000 # use if errors with commit size
[sendemail] # Send commit as mail: 
  # - https://jade.fyi/blog/oh-no-git-send-email
  # - https://seeminglyrandom.net/posts/git-send-email
  #
  # Setup: sudo pacman -S --needed perl-authen-sasl perl-io-socket-ssl msmtp
  # Command: git send-email --to='4ctiv@4ctiv.de' --from=noreply.4ctiv@4ctiv.de HEAD^
  # Fix commit mail: git commit --amend --reset-author
  #
  # local config (msmtp):
  smtpserver = /usr/bin/msmtp # --set-from-header=on
  # Sender via ~/.msmtprc
 #smtpserveroption = -a
 #smtpserveroption = work
  # Sender via git commit mail
  envelopeSender = auto
  confirm = always
  annotate = yes
  from = $USER noreply.$USER@$hostname.local
[format]
  signOff = yes
