wayland
lib32-wayland
xorg-wayland         # X11 apps support
hyprland-dev
hyprpicker-git
xdg-desktop-portal-hyprland
systemctl
pamac-aur            # graphical package manager
xf86-input-libinput  # touch input etc.
archlinux-logout-git # lock & shutdown menu
pavucontrol          # audo volume controll
rofi                 # App menu
brightnessctl        # monitor brightness settings
nm-applt             # Wifi icon 

# Catppuccin Theme
kvantum-qt5 
kvantummanager 
catppuccin-cursors-git
catppuccin-gtk-theme-mocha
kvantum-theme-catppuccin-git

# Menu & Eye Candy
waybar        # taskbar
wofi          # (app) menus
mako          # Notification deamon
hyprlock      # Lockscreen
hypridle      # Automatic lock & suspention
hyprpaper     # image backgrounds
mpvpaper      # video wallpaper

# Basics
kitty         # terminal
fish          # shell (alternative to bash)
thunar        # main file-manager
nemo          # alt  file-manager
links         # commandline browser
brave         # main brower
google-chrome # alt  browser
firefox       # alt  browser
mailspring    # mail-client
code          # code-editor
meld          # file-differences

# Virtualization
virt-manager  # popular vm manager 
qemu-desktop  # vm hypervisor
quickemu      # fast vm setups
quickgui      # graphical fast vm manager

# Security (!needs user setup!)
ufw           # Firewall, Tipp: ufw default deny incomming && ufw default allow outgoing && sudo ufw enable
clamav        # Antivirus, Tipp: systemctl enable clamav-freshclam
clamtk        # Antivirus GUI

# Media
spotify       # music player
mpv           # video player
inkscape      # image editing (vector graphics)
gimp          # image editing
noisetorch    # noise supression software
flameshot     # (Alt. screenshot tool)
obs-studio    # Video Recorder
wlrobs        # Enable Desktop capture
obs-vaapi     # Extend avalable formats

# File system management
btrfs-assistant     # btrfs helper
btrfs-progs         # btrfs helper 2
timeshift           # snapshots tool (rollbacks)
timeshift-autosnap  # auto snapshots

# Office & PDF
xournalpp            # handwritten notes
rnote                # handwritten notes (inf canvas)
libreoffice          # office suite
pdfmixtool           # pdf stitching
masterpdfeditor-free # pdf bookmarks