# Enable via 'systemctl enable --now wol.service'
[Unit]
Description=Wake-on-LAN
Requires=network-online.target
After=network-online.target

[Service]
# Chech flags via: `sudo ethtool eth0`
ExecStart=/bin/bash -c 'ethtool -s $(ip route show default | awk "{print \$5}" | head -n 1) wol g'
Type=oneshot

[Install]
WantedBy=multi-user.target
