# Enable via 'systemctl enable --now wol.service'
[Unit]
Description=Wake-on-LAN
Requires=network-online.target
After=network-online.target

[Service]
# Chech flags via: `sudo ethtool eth0`
ExecStart=/bin/bash -c 'ethtool -s $(/usr/bin/ip route show default | /usr/bin/awk "{print \$5}" | /usr/bin/head -n 1) wol g; exit $?'
Type=oneshot

[Install]
WantedBy=multi-user.target
